<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Evo{% endblock %}</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {% if is_personal %}
    <a href="/tools">Tools</a>
    <a href="/remote">Remote Access</a>
    {% endif %}
    {% if is_logged_in %}
    <a href="/cross-remote">Cross-Remote</a>
    {% endif %}

    <span style="float:right;">
    {% if is_personal %}
    <a href="/auth/root/logout">Root logout</a>
    {% else %}
    <a href="/auth/root">Root login</a>
    {% endif %}
    |
    {% if is_logged_in %}
    {{ current_user }} - <a href="/auth/logout">Logout</a>
    {% else %}
    <a href="/auth/login">Login / Register</a>
    {% endif %}
    </span>
</nav>


<main>

{% block content %}
{% endblock %}

</main>


</body>

</html>
